body {
background-image: linear-gradient(white, black);
}

header img{
    width: 100%; /*this stretches the image across the viewport.*/
    height: auto; /* the height will change based on the viewport*/
    max-width: 500px;
}

nav {
    /*background-color: white;
    border-top: solid 0.3em black;
    border-bottom: solid 0.3em black;*/
    margin-bottom: 1em; /* This places some space between elements.*/

    font-weight: bold;
    text-align: center;
}

nav ul {

    padding: 0;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

nav li {
    background-color: black;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0.75em;
    list-style-type: none; /*This removes bullet points*/

}

nav ul li a {
    color: white;
    text-decoration: none; /*This removes the underline from th=e hyperlink*/
}

figure {
    text-align: center;
    background-color: white;

}

figure img {
    max-width: 200px;
    max-height: 100;
    width: 100%;
    height: auto;
}



main {
    /*background-color: white;
    border-top: solid 0.3em black;
    border-bottom: solid 0.3em black;*/
    padding: 1em;
    background-image: linear-gradient(white, black );
    min-height: 400px;
    border-radius: 1.0em; /*This rounds the corners of element*/
    margin-bottom: 1em;  /* This places some space between elements.*/
}
/*This was for the 3 column layout*/
main  .row:after {
    content: "";
    display: table;
    clear: both;
}

main div .column {
    float: left;
}

main div .left {
    padding: 0.5%;
    width: 20%;
    float: left;
  }
 
main div .right {

    padding: 0.5%;
    width: 25%;
    float:right;
    /*3-column layout end*/
}
/*.Schedule table begins*/
.schedule table {
    border: 0.1em solid black;
    border-collapse: collapse;
    background-color: white;
    width: 95%;
    margin-left: 2.5%; /*This streches out the table to the left*/

}

.schedule caption {
    border: 0.1em solid black;
    font-size: 1.5em; 
    font-weight: bold;
}
.schedule th, .schedule td {
    border: 0.1em solid black;
    padding: 0.5em;
    text-align: center;
}

.schedule th {
    background-color: black;
    color: white;
}
/*.schedule table ends*/

#enrollprice {
    border: 0.1em solid black;
    border-collapse: collapse;
}

#enrollprice td {
    border: 0.1em solid black;
    padding: 0.5em;
    text-align: center;

}

footer {
    background-image: linear-gradient(white, white, grey );
    text-align: center;
    border-radius: 1.0em; /*This rounds the corners of element*/

}
/*Begin mobile.*/
@media screen and (max-width: 640px) {

    nav ul li { 
        border-radius: 1em;

    } 
    .tablet {
        display: none;
    }
    .desktop {
        display: none;
    }
}


    


/*End mobile.*/


/*Begin tablet.*/
@media screen and (min-width: 641px) {

    nav ul li { 
        display: inline-block; /*This lists items horizontally and allows them to stretch.*/
        border-radius: 1em;

    } 
    /*.desktop {
        display: none; 
    }*/
   

}
/*End tablet.*/


/*Begin desktop.*/
@media screen and (min-width: 961px) {

    header {
        background-image: linear-gradient(to right, white, black, black, black);
        box-shadow: 0.5em 0.5em 0.5em black;
    
    }

    header img {
        width: auto;
        height: 5em;
    }

    .desktop {
        display: block;
    }

    nav {
        padding-top: 0.4em;
        background-color: black;
        margin-top: -5.2em;/*This moves the nav element above where it would normally be*/
        width: 57%;
        float: right;/*This floats the nav element to the right side of the page*/
        border-top: solid 0.2em black;
        border-bottom: solid 0.2em black;

    }

   
        /*display: inline-block; This lists items horizontally and allows them to stretch.
        border-radius: 1em;
        margin-top: -5em;*/


    main div .center {
        padding: 0.5%;
        width: 50%;
    
        border-left: 0.3em solid black;
        border-right: 0.3em solid black;
    }

}
/*End desktop.*/

